<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vista Administrador</title>
  </head>
  <%=render 'HojasDeEstilos'%>
  <%=render 'barraA'%>
  <body>
<%=render 'scripts'%>
  </body>
</html>
