
<div class="navbar-fixed">
<!-- Estructura del menu desplegable-->
<ul id="dropdown1" class="dropdown-content ">
  <li><a href="/admin/indexadmin">Admin<i class="material-icons right">supervisor_account</i></a></li>
      <li><a href="">Usuario<i class="material-icons right">person</i></a></li>

</ul>

<ul id="vuelos" class="dropdown-content ">
  <li><a href="">Vuelos<i class="material-icons right">flight</i></a></li>
      <li><a href="">Horiarios<i class="material-icons right">watch_later</i></a></li>
      <li><a href="">Reservar<i class="material-icons right">receipt</i></a></li>
</ul>


<!--barra de navegacion-->
<nav class="animated zoomInDown z-depth-5">
  <div class="nav-wrapper #00695c teal darken-0">
    <a href="#!" class="brand-logo">AeroApp<i class="material-icons left">home</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Equipaje<i class="material-icons right">business_center</i></a></li>

<!--activador del menu desplegable (vuelos)-->
<li><a class="dropdown-button" href="#!" data-activates="vuelos">Informacion de vuelos<i class="material-icons right">flight</i></a></li>

<li><a href="sass.html">Contáctanos<i class="material-icons right">contact_mail</i></a></li>
      <!--Activador del menu (iniciar sesion)-->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Inicio de Sesión<i class="material-icons right">person</i></a></li>

    </ul>
  </div>
</nav>
</div>
