
<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contáctanos</h3>
  <p class="text-center"><em>Queremos brindarle un mejor servicio</em></p>

  <div class="row">
    <div class="col-md-4">
      <p></p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Masayas, Nicaragua</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +505-77664638</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: ferb2013ruiz@gmail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Escribir Comentario" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>
