<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @typeairplane.tipo %>
</p>

<%= link_to 'Edit', edit_typeairplane_path(@typeairplane) %> |
<%= link_to 'Back', typeairplanes_path %>
